# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py,cover

# Virtual environment
.venv/
venv/
env/
ENV/
.env

# Logs
logs/
*.log

# VS Code / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# pytest / cache
.pytest_cache/
.coverage
htmlcov/
